icomoon-font-path ?= "fonts"

ic-airplay = "\e900"
ic-alarm-off = "\e901"
ic-alarm-on = "\e902"
ic-alert = "\e903"
ic-anchor = "\e904"
ic-angle-brakets = "\e905"
ic-app = "\e906"
ic-approval = "\e907"
ic-arrow-angle-down = "\e908"
ic-arrow-angle-left = "\e909"
ic-arrow-angle-mini-down = "\e90a"
ic-arrow-angle-mini-left = "\e90b"
ic-arrow-angle-mini-right = "\e90c"
ic-arrow-angle-mini-up = "\e90d"
ic-arrow-angle-right = "\e90e"
ic-arrow-angle-up = "\e90f"
ic-arrow-circle-angle-down = "\e910"
ic-arrow-circle-angle-left = "\e911"
ic-arrow-circle-angle-right = "\e912"
ic-arrow-circle-angle-thin-down = "\e913"
ic-arrow-circle-angle-thin-left = "\e914"
ic-arrow-circle-angle-thin-right = "\e915"
ic-arrow-circle-angle-thin-up = "\e916"
ic-arrow-circle-angle-up = "\e917"
ic-arrow-circle-fat-down = "\e918"
ic-arrow-circle-fat-left = "\e919"
ic-arrow-circle-fat-right = "\e91a"
ic-arrow-circle-fat-up = "\e91b"
ic-arrow-circle-linear-down = "\e91c"
ic-arrow-circle-linear-left = "\e91d"
ic-arrow-circle-linear-right = "\e91e"
ic-arrow-circle-linear-up = "\e91f"
ic-arrow-double-down = "\e920"
ic-arrow-double-left = "\e921"
ic-arrow-double-right = "\e922"
ic-arrow-double-up = "\e923"
ic-arrow-fat-down = "\e924"
ic-arrow-fat-left = "\e925"
ic-arrow-fat-right = "\e926"
ic-arrow-fat-up = "\e927"
ic-arrow-head-down = "\e928"
ic-arrow-head-left = "\e929"
ic-arrow-head-right = "\e92a"
ic-arrow-head-up = "\e92b"
ic-arrow-linear-down = "\e92c"
ic-arrow-linear-left = "\e92d"
ic-arrow-linear-right = "\e92e"
ic-arrow-linear-rounded-down = "\e92f"
ic-arrow-linear-rounded-left = "\e930"
ic-arrow-linear-rounded-right = "\e931"
ic-arrow-linear-rounded-up = "\e932"
ic-arrow-linear-up = "\e933"
ic-arrow-long-down = "\e934"
ic-arrow-long-eft = "\e935"
ic-arrow-long-right = "\e936"
ic-arrow-long-up = "\e937"
ic-arrow-triangle-down = "\e938"
ic-arrow-triangle-left = "\e939"
ic-arrow-triangle-right = "\e93a"
ic-arrow-triangle-up = "\e93b"
ic-article = "\e93c"
ic-baby = "\e93d"
ic-baby-buggy = "\e93e"
ic-balance = "\e93f"
ic-bar-code = "\e940"
ic-bell = "\e941"
ic-bike = "\e942"
ic-block-spacing = "\e943"
ic-blur = "\e944"
ic-bolt = "\e945"
ic-book-closed = "\e946"
ic-bookmark = "\e947"
ic-bookmarks = "\e948"
ic-book-open = "\e949"
ic-books = "\e94a"
ic-boost = "\e94b"
ic-box = "\e94c"
ic-braces = "\e94d"
ic-brakets = "\e94e"
ic-briefcase = "\e94f"
ic-brightness-high = "\e950"
ic-brightness-low = "\e951"
ic-brush = "\e952"
ic-brush-big = "\e953"
ic-bug = "\e954"
ic-bulb = "\e955"
ic-cake = "\e956"
ic-calculator = "\e957"
ic-calendar = "\e958"
ic-camcoder = "\e959"
ic-camcoder-off = "\e95a"
ic-camera = "\e95b"
ic-camera-off = "\e95c"
ic-car = "\e95d"
ic-card-back = "\e95e"
ic-card-front = "\e95f"
ic-card-horizontal = "\e960"
ic-card-vertical = "\e961"
ic-carousel = "\e962"
ic-check = "\e963"
ic-checkbox-checked = "\e964"
ic-checkbox-empty = "\e965"
ic-checkbox-full-checked = "\e966"
ic-checkbox-half-checked = "\e967"
ic-check-double = "\e968"
ic-check-single = "\e969"
ic-city = "\e96a"
ic-clear-format = "\e96b"
ic-clipboard = "\e96c"
ic-clipboard-in = "\e96d"
ic-clock = "\e96e"
ic-cloud = "\e96f"
ic-cloud-down = "\e970"
ic-cloud-offline = "\e971"
ic-cloud-sync = "\e972"
ic-cloud-up = "\e973"
ic-clubs = "\e974"
ic-color-filter = "\e975"
ic-column = "\e976"
ic-compound = "\e977"
ic-console-error = "\e978"
ic-console-help = "\e979"
ic-console-info = "\e97a"
ic-console-warn = "\e97b"
ic-cookie = "\e97c"
ic-copy = "\e97d"
ic-copyleft = "\e97e"
ic-copyright = "\e97f"
ic-credit-card = "\e980"
ic-crop = "\e981"
ic-cross = "\e982"
ic-crosshair = "\e983"
ic-cube = "\e984"
ic-currency-bdt = "\e985"
ic-currency-btc = "\e986"
ic-currency-chf = "\e987"
ic-currency-cny = "\e988"
ic-currency-eth = "\e989"
ic-currency-eur = "\e98a"
ic-currency-gbp = "\e98b"
ic-currency-inr = "\e98c"
ic-currency-jpy = "\e98d"
ic-currency-krw = "\e98e"
ic-currency-ngn = "\e98f"
ic-currency-rub = "\e990"
ic-currency-sign = "\e991"
ic-currency-try = "\e992"
ic-currency-twd = "\e993"
ic-currency-usd = "\e994"
ic-curve = "\e995"
ic-cut = "\e996"
ic-database = "\e997"
ic-debug = "\e998"
ic-delete = "\e999"
ic-device-pc = "\e99a"
ic-device-phone = "\e99b"
ic-devices = "\e99c"
ic-device-tab = "\e99d"
ic-diamond = "\e99e"
ic-diamond-ring = "\e99f"
ic-dice = "\e9a0"
ic-dice-five = "\e9a1"
ic-dice-four = "\e9a2"
ic-dice-one = "\e9a3"
ic-dice-six = "\e9a4"
ic-dice-three = "\e9a5"
ic-dice-two = "\e9a6"
ic-diff = "\e9a7"
ic-direction = "\e9a8"
ic-direction-all = "\e9a9"
ic-direction-e = "\e9aa"
ic-direction-n = "\e9ab"
ic-direction-ne = "\e9ac"
ic-direction-nw = "\e9ad"
ic-direction-s = "\e9ae"
ic-direction-se = "\e9af"
ic-direction-sw = "\e9b0"
ic-direction-w = "\e9b1"
ic-dna = "\e9b2"
ic-dot = "\e9b3"
ic-dots = "\e9b4"
ic-download = "\e9b5"
ic-down-up = "\e9b6"
ic-drag = "\e9b7"
ic-drawer-empty = "\e9b8"
ic-drawer-full = "\e9b9"
ic-drone = "\e9ba"
ic-duplicate = "\e9bb"
ic-edit-redo = "\e9bc"
ic-edit-undo = "\e9bd"
ic-ellipse = "\e9be"
ic-eraser = "\e9bf"
ic-extension = "\e9c0"
ic-external = "\e9c1"
ic-eyedroper = "\e9c2"
ic-factory = "\e9c3"
ic-file = "\e9c4"
ic-file-archive = "\e9c5"
ic-file-audio = "\e9c6"
ic-file-binary = "\e9c7"
ic-file-blank = "\e9c8"
ic-file-code = "\e9c9"
ic-file-document = "\e9ca"
ic-file-image = "\e9cb"
ic-file-link = "\e9cc"
ic-file-markup = "\e9cd"
ic-file-media = "\e9ce"
ic-file-program = "\e9cf"
ic-files = "\e9d0"
ic-file-unknown = "\e9d1"
ic-fill = "\e9d2"
ic-film-photo = "\e9d3"
ic-filter = "\e9d4"
ic-find = "\e9d5"
ic-fingerprint = "\e9d6"
ic-fire = "\e9d7"
ic-flag = "\e9d8"
ic-flim-roll = "\e9d9"
ic-flim-strip = "\e9da"
ic-flip = "\e9db"
ic-float-left = "\e9dc"
ic-float-middle = "\e9dd"
ic-float-none = "\e9de"
ic-float-right = "\e9df"
ic-floppy = "\e9e0"
ic-flyer-three-fold = "\e9e1"
ic-flyer-two-fold = "\e9e2"
ic-folder = "\e9e3"
ic-folder-down = "\e9e4"
ic-folder-minus = "\e9e5"
ic-folder-parent = "\e9e6"
ic-folder-plus = "\e9e7"
ic-folder-up = "\e9e8"
ic-font-liga = "\e9e9"
ic-font-size = "\e9ea"
ic-font-size-down = "\e9eb"
ic-font-size-up = "\e9ec"
ic-forward = "\e9ed"
ic-fraction = "\e9ee"
ic-fullscreen-off = "\e9ef"
ic-fullscreen-on = "\e9f0"
ic-function = "\e9f1"
ic-game = "\e9f2"
ic-gear = "\e9f3"
ic-gesture = "\e9f4"
ic-ghost = "\e9f5"
ic-gift = "\e9f6"
ic-git-branch = "\e9f7"
ic-git-commit = "\e9f8"
ic-git-compare = "\e9f9"
ic-git-merge = "\e9fa"
ic-git-pull-request = "\e9fb"
ic-glitter = "\e9fc"
ic-globe = "\e9fd"
ic-globe-down = "\e9fe"
ic-globe-up = "\e9ff"
ic-gradient = "\ea00"
ic-graduation-hat = "\ea01"
ic-grid-three = "\ea02"
ic-grid-two = "\ea03"
ic-group = "\ea04"
ic-hammer = "\ea05"
ic-hand = "\ea06"
ic-hash = "\ea07"
ic-headset = "\ea08"
ic-headset-mic = "\ea09"
ic-heart = "\ea0a"
ic-hidden = "\ea0b"
ic-home = "\ea0c"
ic-horizontal-rule = "\ea0d"
ic-hourglass = "\ea0e"
ic-image = "\ea0f"
ic-images = "\ea10"
ic-incognito = "\ea11"
ic-injection = "\ea12"
ic-inspect = "\ea13"
ic-issue = "\ea14"
ic-issue-closed = "\ea15"
ic-issue-reopened = "\ea16"
ic-james-clip = "\ea17"
ic-joystick = "\ea18"
ic-key = "\ea19"
ic-keyboard = "\ea1a"
ic-key-command = "\ea1b"
ic-key-control = "\ea1c"
ic-key-option = "\ea1d"
ic-key-shift = "\ea1e"
ic-key-tab = "\ea1f"
ic-language = "\ea20"
ic-layer-collapse = "\ea21"
ic-layer-expand = "\ea22"
ic-layers = "\ea23"
ic-left-right = "\ea24"
ic-lego = "\ea25"
ic-line = "\ea26"
ic-line-cap-butt = "\ea27"
ic-line-cap-projecting = "\ea28"
ic-line-cap-round = "\ea29"
ic-line-height = "\ea2a"
ic-line-join-bavel = "\ea2b"
ic-line-join-miter = "\ea2c"
ic-line-join-round = "\ea2d"
ic-link = "\ea2e"
ic-list = "\ea2f"
ic-list-add = "\ea30"
ic-list-check = "\ea31"
ic-list-clear = "\ea32"
ic-list-ordered = "\ea33"
ic-list-remove = "\ea34"
ic-list-unordered = "\ea35"
ic-list-update = "\ea36"
ic-lock = "\ea37"
ic-log-in = "\ea38"
ic-logo-airbnb = "\ea39"
ic-logo-amazon = "\ea3a"
ic-logo-amp = "\ea3b"
ic-logo-android = "\ea3c"
ic-logo-angular = "\ea3d"
ic-logo-apple = "\ea3e"
ic-logo-aws = "\ea3f"
ic-logo-azure = "\ea40"
ic-logo-beats = "\ea41"
ic-logo-behance = "\ea42"
ic-logo-bing = "\ea43"
ic-logo-bitbucket = "\ea44"
ic-logo-blender = "\ea45"
ic-logo-blogger = "\ea46"
ic-logo-bluetooth = "\ea47"
ic-logo-bootstrap = "\ea48"
ic-logo-box = "\ea49"
ic-logo-boxboat = "\ea4a"
ic-logo-buffer = "\ea4b"
ic-logo-c = "\ea4c"
ic-logo-cardboard = "\ea4d"
ic-logo-cc = "\ea4e"
ic-logo-chrome = "\ea4f"
ic-logo-cloudflare = "\ea50"
ic-logo-cloudnine = "\ea51"
ic-logo-code-mirror = "\ea52"
ic-logo-codepen = "\ea53"
ic-logo-codeship = "\ea54"
ic-logo-cpp = "\ea55"
ic-logo-cs = "\ea56"
ic-logo-css = "\ea57"
ic-logo-deviantart = "\ea58"
ic-logo-dicord = "\ea59"
ic-logo-digitalocean = "\ea5a"
ic-logo-disqus = "\ea5b"
ic-logo-do = "\ea5c"
ic-logo-docker = "\ea5d"
ic-logo-dribbble = "\ea5e"
ic-logo-dropbox = "\ea5f"
ic-logo-drupal = "\ea60"
ic-logo-ebay = "\ea61"
ic-logo-edge = "\ea62"
ic-logo-elastic-search = "\ea63"
ic-logo-evernote = "\ea64"
ic-logo-fb = "\ea65"
ic-logo-firefox = "\ea66"
ic-logo-flickr = "\ea67"
ic-logo-gdrive = "\ea68"
ic-logo-git = "\ea69"
ic-logo-github = "\ea6a"
ic-logo-gitlab = "\ea6b"
ic-logo-gmail = "\ea6c"
ic-logo-go = "\ea6d"
ic-logo-google = "\ea6e"
ic-logo-google-cloud = "\ea6f"
ic-logo-google-earth = "\ea70"
ic-logo-google-maps = "\ea71"
ic-logo-google-play = "\ea72"
ic-logo-google-plus = "\ea73"
ic-logo-google-translate = "\ea74"
ic-logo-heroku = "\ea75"
ic-logo-html = "\ea76"
ic-logo-icloud = "\ea77"
ic-logo-ie = "\ea78"
ic-logo-instragram = "\ea79"
ic-logo-itunes = "\ea7a"
ic-logo-javascript = "\ea7b"
ic-logo-joomla = "\ea7c"
ic-logo-jsfiddle = "\ea7d"
ic-logo-json = "\ea7e"
ic-logo-linkedin = "\ea7f"
ic-logo-linode = "\ea80"
ic-logo-linux = "\ea81"
ic-logo-md = "\ea82"
ic-logo-medium = "\ea83"
ic-logo-messenger = "\ea84"
ic-logo-meteor = "\ea85"
ic-logo-minecraft = "\ea86"
ic-logo-nfc = "\ea87"
ic-logo-node = "\ea88"
ic-logo-npm = "\ea89"
ic-logo-office = "\ea8a"
ic-logo-onedrive = "\ea8b"
ic-logo-opera = "\ea8c"
ic-logo-paypal = "\ea8d"
ic-logo-periscope = "\ea8e"
ic-logo-php = "\ea8f"
ic-logo-pinterest = "\ea90"
ic-logo-playstation = "\ea91"
ic-logo-polymer = "\ea92"
ic-logo-python = "\ea93"
ic-logo-r = "\ea94"
ic-logo-react = "\ea95"
ic-logo-recycle = "\ea96"
ic-logo-reddit = "\ea97"
ic-logo-rss = "\ea98"
ic-logo-safari = "\ea99"
ic-logo-sass = "\ea9a"
ic-logo-skype = "\ea9b"
ic-logo-slack = "\ea9c"
ic-logo-slideshare = "\ea9d"
ic-logo-snapchat = "\ea9e"
ic-logo-soundcloud = "\ea9f"
ic-logo-spoyify = "\eaa0"
ic-logo-stackoverflow = "\eaa1"
ic-logo-steam = "\eaa2"
ic-logo-svg = "\eaa3"
ic-logo-swift = "\eaa4"
ic-logo-switch = "\eaa5"
ic-logo-telegram = "\eaa6"
ic-logo-text = "\eaa7"
ic-logo-tumblr = "\eaa8"
ic-logo-twitch = "\eaa9"
ic-logo-twitter = "\eaaa"
ic-logo-typescript = "\eaab"
ic-logo-uber = "\eaac"
ic-logo-ubuntu = "\eaad"
ic-log-out = "\eaae"
ic-logo-viber = "\eaaf"
ic-logo-vimeo = "\eab0"
ic-logo-vine = "\eab1"
ic-logo-vs = "\eab2"
ic-logo-whatsapp = "\eab3"
ic-logo-wikipedia = "\eab4"
ic-logo-windows = "\eab5"
ic-logo-wordpress = "\eab6"
ic-logo-xbox = "\eab7"
ic-logo-xml = "\eab8"
ic-logo-yahoo = "\eab9"
ic-logo-youtube = "\eaba"
ic-magnet = "\eabb"
ic-mail = "\eabc"
ic-mail-forward = "\eabd"
ic-mail-reply = "\eabe"
ic-man = "\eabf"
ic-map = "\eac0"
ic-margin = "\eac1"
ic-marker = "\eac2"
ic-marquee = "\eac3"
ic-marquee-corner = "\eac4"
ic-marquee-round = "\eac5"
ic-marquee-rounded = "\eac6"
ic-mask = "\eac7"
ic-masonry = "\eac8"
ic-memo = "\eac9"
ic-mention = "\eaca"
ic-menu = "\eacb"
ic-message = "\eacc"
ic-messages = "\eacd"
ic-meter = "\eace"
ic-mic = "\eacf"
ic-mic-off = "\ead0"
ic-mid-fold = "\ead1"
ic-minus = "\ead2"
ic-minus-small = "\ead3"
ic-mirror = "\ead4"
ic-mobile-android = "\ead5"
ic-mobile-classic = "\ead6"
ic-mobile-iphone = "\ead7"
ic-modified = "\ead8"
ic-more = "\ead9"
ic-motion = "\eada"
ic-mountain = "\eadb"
ic-music = "\eadc"
ic-newspaper = "\eadd"
ic-no-key = "\eade"
ic-no-line-break = "\eadf"
ic-no-lock = "\eae0"
ic-notepad = "\eae1"
ic-null = "\eae2"
ic-opacity = "\eae3"
ic-options = "\eae4"
ic-orientation = "\eae5"
ic-outline = "\eae6"
ic-package = "\eae7"
ic-padding = "\eae8"
ic-palette = "\eae9"
ic-panel-bottom-close = "\eaea"
ic-panel-bottom-collapse = "\eaeb"
ic-panel-bottom-expand = "\eaec"
ic-panel-bottom-open = "\eaed"
ic-panel-left-close = "\eaee"
ic-panel-left-collapse = "\eaef"
ic-panel-left-expand = "\eaf0"
ic-panel-left-open = "\eaf1"
ic-panel-right-close = "\eaf2"
ic-panel-right-collapse = "\eaf3"
ic-panel-right-expand = "\eaf4"
ic-panel-right-open = "\eaf5"
ic-panel-top-close = "\eaf6"
ic-panel-top-collapse = "\eaf7"
ic-panel-top-expand = "\eaf8"
ic-panel-top-open = "\eaf9"
ic-parentheses = "\eafa"
ic-paste = "\eafb"
ic-pause = "\eafc"
ic-pen = "\eafd"
ic-pencil = "\eafe"
ic-people = "\eaff"
ic-person = "\eb00"
ic-phone = "\eb01"
ic-phone-classic = "\eb02"
ic-phone-in = "\eb03"
ic-phone-loud = "\eb04"
ic-phone-missed = "\eb05"
ic-phone-out = "\eb06"
ic-phone-reject = "\eb07"
ic-pi = "\eb08"
ic-pill = "\eb09"
ic-pin = "\eb0a"
ic-place = "\eb0b"
ic-play = "\eb0c"
ic-plug = "\eb0d"
ic-plus = "\eb0e"
ic-plus-small = "\eb0f"
ic-polygon = "\eb10"
ic-poster = "\eb11"
ic-power = "\eb12"
ic-prescription = "\eb13"
ic-printer = "\eb14"
ic-pull-down = "\eb15"
ic-pull-left = "\eb16"
ic-pull-right = "\eb17"
ic-pull-up = "\eb18"
ic-push-down = "\eb19"
ic-push-left = "\eb1a"
ic-push-right = "\eb1b"
ic-push-up = "\eb1c"
ic-puzzle = "\eb1d"
ic-qr-code = "\eb1e"
ic-quote-end = "\eb1f"
ic-quote-start = "\eb20"
ic-radio-checked-empty = "\eb21"
ic-radio-checked-full = "\eb22"
ic-radio-empty = "\eb23"
ic-radio-full = "\eb24"
ic-radio-full-filled = "\eb25"
ic-read = "\eb26"
ic-rectangle = "\eb27"
ic-registered = "\eb28"
ic-reload = "\eb29"
ic-reload-auto = "\eb2a"
ic-repeat-all = "\eb2b"
ic-repeat-one = "\eb2c"
ic-repo = "\eb2d"
ic-repo-forked = "\eb2e"
ic-restore = "\eb2f"
ic-rewind = "\eb30"
ic-rice-bowl = "\eb31"
ic-right-left = "\eb32"
ic-robot = "\eb33"
ic-rocket = "\eb34"
ic-rotate = "\eb35"
ic-row = "\eb36"
ic-run = "\eb37"
ic-script = "\eb38"
ic-sections = "\eb39"
ic-secure = "\eb3a"
ic-send = "\eb3b"
ic-server = "\eb3c"
ic-sharable = "\eb3d"
ic-share = "\eb3e"
ic-shield = "\eb3f"
ic-shopping-cart = "\eb40"
ic-shuffle = "\eb41"
ic-skew-horizontal = "\eb42"
ic-skew-vertical = "\eb43"
ic-sliders-horizontal = "\eb44"
ic-sliders-vertical = "\eb45"
ic-smiley-crosseyes = "\eb46"
ic-smiley-evil = "\eb47"
ic-smiley-face = "\eb48"
ic-smiley-happy = "\eb49"
ic-smiley-joy = "\eb4a"
ic-smiley-meh = "\eb4b"
ic-smiley-mock = "\eb4c"
ic-smiley-ninja = "\eb4d"
ic-smiley-poop = "\eb4e"
ic-smiley-sad = "\eb4f"
ic-smiley-sideface = "\eb50"
ic-smiley-smile = "\eb51"
ic-smiley-sunglasses = "\eb52"
ic-sort-down = "\eb53"
ic-sort-up = "\eb54"
ic-spade = "\eb55"
ic-spectacles-glasses = "\eb56"
ic-spectacles-sunglasses = "\eb57"
ic-spellcheck = "\eb58"
ic-sqare-circle = "\eb59"
ic-sqare-left = "\eb5a"
ic-sqare-minus = "\eb5b"
ic-sqare-plus = "\eb5c"
ic-sqare-right = "\eb5d"
ic-sqare-slash = "\eb5e"
ic-star = "\eb5f"
ic-star-full = "\eb60"
ic-star-half = "\eb61"
ic-stat = "\eb62"
ic-stethoscope = "\eb63"
ic-stop = "\eb64"
ic-sync = "\eb65"
ic-sync-auto = "\eb66"
ic-tab = "\eb67"
ic-table = "\eb68"
ic-tag = "\eb69"
ic-tags = "\eb6a"
ic-target = "\eb6b"
ic-terminal = "\eb6c"
ic-text = "\eb6d"
ic-text-align-center = "\eb6e"
ic-text-align-left = "\eb6f"
ic-text-align-right = "\eb70"
ic-text-area = "\eb71"
ic-text-bg = "\eb72"
ic-text-bold = "\eb73"
ic-text-case = "\eb74"
ic-text-color = "\eb75"
ic-text-indent = "\eb76"
ic-text-italic = "\eb77"
ic-text-justify = "\eb78"
ic-text-justify-center = "\eb79"
ic-text-justify-left = "\eb7a"
ic-text-justify-right = "\eb7b"
ic-text-outdent = "\eb7c"
ic-text-paragraph = "\eb7d"
ic-text-selection = "\eb7e"
ic-text-strikethrough = "\eb7f"
ic-text-subscript = "\eb80"
ic-text-superscript = "\eb81"
ic-text-symbol = "\eb82"
ic-text-underline = "\eb83"
ic-texture = "\eb84"
ic-theme = "\eb85"
ic-three-bands = "\eb86"
ic-thumbs-down = "\eb87"
ic-thumbs-up = "\eb88"
ic-timer = "\eb89"
ic-trademark = "\eb8a"
ic-translate = "\eb8b"
ic-tree = "\eb8c"
ic-tri-fold = "\eb8d"
ic-trophy = "\eb8e"
ic-umbrella = "\eb8f"
ic-ungroup = "\eb90"
ic-up-down = "\eb91"
ic-upload = "\eb92"
ic-usb = "\eb93"
ic-vibration = "\eb94"
ic-video = "\eb95"
ic-visible = "\eb96"
ic-voice-mail = "\eb97"
ic-volume = "\eb98"
ic-volume-down = "\eb99"
ic-volume-high = "\eb9a"
ic-volume-low = "\eb9b"
ic-volume-mute = "\eb9c"
ic-volume-up = "\eb9d"
ic-vr = "\eb9e"
ic-wand = "\eb9f"
ic-watch = "\eba0"
ic-widget = "\eba1"
ic-wifi-off = "\eba2"
ic-wifi-on = "\eba3"
ic-win-close = "\eba4"
ic-win-cross = "\eba5"
ic-win-dot = "\eba6"
ic-window = "\eba7"
ic-win-full = "\eba8"
ic-win-maximize = "\eba9"
ic-win-minimize = "\ebaa"
ic-win-minus = "\ebab"
ic-win-plus = "\ebac"
ic-win-shrink = "\ebad"
ic-win-unmaximize = "\ebae"
ic-woman = "\ebaf"
ic-zoom-in = "\ebb0"
ic-zoom-out = "\ebb1"

